<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center title-toolbar">
      <div class="toolbar-images">
        <img class="img-title-toolbar" src="../../assets/imagenes/toolbar_blockbuster.png" alt="Blockbuster">
        <img class="img-title-toolbar" src="../../assets/imagenes/DBToolbar.png" alt="Dragon Ball">
      </div>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
</ion-content>